InlayHints:
  ParameterNames: No
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [bugprone-*, cert-*, modernize-*, performance-*]
    Remove: [bugprone-easily-swappable-parameters, modernize-use-trailing-return-type]
CompileFlags:
  CompilationDatabase: "build"
  Compiler: clang++
  Add: [-std=c++23, -Iinclude, -xc++]
